* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 98%;
  background: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 50%) no-repeat scroll 0 0%, url("http://baconbao.github.io/TaiwaneseWizard/img/white_wall_hash.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
body{
  padding-top: 20px;
  font-family: 'Microsoft JhengHei','微軟正黑體';
}
#box {
	max-width: 500px;
	margin: 0 auto;
}
#text2say {
  font-size: 27px;  
}
#logo {
  width: 200px;
  margin: 0 auto;
  -moz-transform: rotateY(0deg) rotateX(0deg);
  cursor: pointer;
}
#face {
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 125px;
  left: 70px;
}
#downloadBox {
  color: #444;
  text-align: center;
  padding: 30px 0px;
}
#downloadBox a {
  color: #444;
}
.alert {
  padding-top: 30px;
  text-align: center;
  font-size: 22px;
}
.mybtn {
  font-size: 22px;
  border: 1px solid;
  border-radius: 3px;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
}
.mybtn:hover {
  background: #eee;
  color: #000;
  border: 1px solid #333;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;      
  border-top: 20px solid #fff;
  margin: 0 auto;
  z-index: 999;
  position: relative;
}
@media only screen and (max-width:750px) {
  body {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width:500px) {
  .mybtn {
    display: block;
  }
}